PORT=5000
CLIENT_URL=http://localhost:5173

SUPABASE_URL=https://nglbxsfkqnvptakjvssb.supabase.co
SUPABASE_ANON_KEY=your_anon_key_here

SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_USER=Info@*******.com
SMTP_PASS=NoxxMC26070****
FROM_EMAIL=k****chu@gmail.com
